# CA06 KNN Movie Recommendation

Loading in dataset

In [1]:
import pandas as pd 
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report
import io 
import requests
import matplotlib.pyplot as mp
import seaborn as sns
from sklearn.neighbors import KNeighborsClassifier

In [2]:
url="https://github.com/ArinB/CA05-kNN/raw/master/movies_recommendation_data.csv"
s=requests.get(url).content
movies=pd.read_csv(io.StringIO(s.decode('utf-8')))

Exploratory analysis

In [3]:
movies.head(10)

,Movie ID,Movie Name,IMDB Rating,Biography,Drama,Thriller,Comedy,Crime,Mystery,History,Label
0,58,The Imitation Game,8.0,1,1,1,0,0,0,0,0
1,8,Ex Machina,7.7,0,1,0,0,0,1,0,0
2,46,A Beautiful Mind,8.2,1,1,0,0,0,0,0,0
3,62,Good Will Hunting,8.3,0,1,0,0,0,0,0,0
4,97,Forrest Gump,8.8,0,1,0,0,0,0,0,0
5,98,21,6.8,0,1,0,0,1,0,1,0
6,31,Gifted,7.6,0,1,0,0,0,0,0,0
7,3,Travelling Salesman,5.9,0,1,0,0,0,1,0,0
8,51,Avatar,7.9,0,0,0,0,0,0,0,0
9,47,The Karate Kid,7.2,0,1,0,0,0,0,0,0

In [4]:
movies.tail(10)

,Movie ID,Movie Name,IMDB Rating,Biography,Drama,Thriller,Comedy,Crime,Mystery,History,Label
20,57,The DaVinci Code,6.6,0,0,1,0,0,1,0,0
21,57,Stand and Deliver,7.3,0,1,0,0,0,0,0,0
22,14,The Terminator,8.0,0,0,0,0,0,0,0,0
23,69,21 Jump Street,7.2,0,0,0,1,1,0,0,0
24,98,The Avengers,8.1,0,0,0,0,0,0,0,0
25,17,Thor: Ragnarok,7.9,0,0,0,1,0,0,0,0
26,12,Spirit: Stallion of the Cimarron,7.1,0,0,0,0,0,0,0,0
27,1,Hacksaw Ridge,8.2,1,1,0,0,0,0,1,0
28,86,12 Years a Slave,8.1,1,1,0,0,0,0,1,0
29,46,Queen of Katwe,7.4,1,1,0,0,0,0,0,0

In [5]:
movies.describe()

,Movie ID,IMDB Rating,Biography,Drama,Thriller,Comedy,Crime,Mystery,History,Label
count,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.0
mean,48.133333,7.696667,0.233333,0.600000,0.100000,0.100000,0.133333,0.100000,0.100000,0.0
std,29.288969,0.666169,0.430183,0.498273,0.305129,0.305129,0.345746,0.305129,0.305129,0.0
min,1.000000,5.900000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
25%,27.750000,7.300000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
50%,48.500000,7.750000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
75%,64.250000,8.175000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
max,98.000000,8.800000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0

In [6]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Movie ID     30 non-null     int64
 1   Movie Name   30 non-null     object
 2   IMDB Rating  30 non-null     float64
 3   Biography    30 non-null     int64
 4   Drama        30 non-null     int64
 5   Thriller     30 non-null     int64
 6   Comedy       30 non-null     int64
 7   Crime        30 non-null     int64
 8   Mystery      30 non-null     int64
 9   History      30 non-null     int64
 10  Label        30 non-null     int64
dtypes: float64(1), int64(9), object(1)
memory usage: 2.7+ KB

Creating Features

In [7]:
#Drop Label as it is useless 
movies= movies.drop('Movie ID', axis=1)

In [8]:
movies['IMDB Rating'] = movies['IMDB Rating'].astype(int)#Changing IMDB Rating from float to integer

In [9]:
x = movies.drop('Movie Name', axis=1) #Independent
y = movies['Movie Name'] #Dependent

In [10]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=100)

# KNN Classifier

In [15]:
k = 5
knn = KNeighborsClassifier(n_neighbors=k).fit(x_train,y_train)#Passing parameters through the KNN model

In [12]:
y_pred=knn.predict(x_test)

In [13]:
confusion=confusion_matrix(y_test,y_pred)
accuracy=accuracy_score(y_test,y_pred)

In [16]:
print(accuracy)

0.0

In [14]:
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report
confusion=confusion_matrix(y_test,y_pred)
accuracy=accuracy_score(y_test,y_pred)
classification_report=classification_report(y_test,y_pred)
print(classification_report)
print(accuracy)
print(confusion)

                                  precision    recall  f1-score   support

                12 Years a Slave       0.00      0.00      0.00       1.0
                              21       0.00      0.00      0.00       1.0
                  21 Jump Street       0.00      0.00      0.00       0.0
                A Beautiful Mind       0.00      0.00      0.00       0.0
          A Brilliant Young Mind       0.00      0.00      0.00       0.0
                          Avatar       0.00      0.00      0.00       0.0
                    Forrest Gump       0.00      0.00      0.00       0.0
                    Interstellar       0.00      0.00      0.00       1.0
Spirit: Stallion of the Cimarron       0.00      0.00      0.00       1.0
                  The Karate Kid       0.00      0.00      0.00       1.0
         The Wolf of Wall Street       0.00      0.00      0.00       1.0

                        accuracy                           0.00       6.0
                       macro avg       0.00      0.00      0.00       6.0
                    weighted avg       0.00      0.00      0.00       6.0

0.0
[[0 0 0 1 0 0 0 0 0 0 0]
 [0 0 0 0 1 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 1 0 0 0 0]
 [0 0 0 0 0 1 0 0 0 0 0]
 [0 0 0 0 1 0 0 0 0 0 0]
 [0 0 1 0 0 0 0 0 0 0 0]]

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))